.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barContainer {
  width: 80%;
  height: 20px;
  border: solid 1px black;
}

.bar {
  height: 100%;
  background: red;
  transition: transform 0.5s linear;
  transform-origin: 0 0;
  transform: scaleX(1);
}
