.detail {
}

.detail__category {
  background: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
}

.detail__ingName {
  display: inline-block;
  margin: 0 0 0 10px;
}

.searchResult {
  margin-top: 20px;
}
