@value vars: "./vars.module.css";
@value search-result-page-side-padding from vars;

.header {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 20px search-result-page-side-padding;
}

.input {
  margin-left: 15px;
}
