@value vars: "./vars.module.css";
@value search-result-page-side-padding from vars;

.header {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 20px search-result-page-side-padding;
}

.logo {
  flex-shrink: 0;
}

.input {
  margin-left: 15px;
  min-width: 0;
  max-width: 350px;
}

.pictureTaker {
  margin-left: 15px;
}
