@value vars: "./vars.module.css";
@value c-dark-gray, c-black, c-teal, c-dark-teal from vars;

.link {
  color: c-dark-gray;
}

.link:hover {
  color: c-black;
}

.link--accent {
  color: c-teal;
}

.link--accent:hover {
  color: c-dark-teal;
}

.buttonBase {
  color: white;
  font-size: 16px;
  text-align: center;
  background: c-teal;
  border: none;
  cursor: pointer;
}

.buttonBase:hover {
  background: c-dark-teal;
}

.button {
  composes: buttonBase;
  text-transform: uppercase;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.button--full {
  composes: buttonBase;
  width: 100%;
  line-height: 80px;
  display: inline-block;
  font-weight: bold;
}
